@font-face {
  font-family: Tex;
  src: url(fonts/tex.otf);
  font-weight: 400;
}

@font-face {
  font-family: Ramab;
  src: url(fonts/ramab.otf);
  font-weight: 700;
}

body {
  background-color: #000000;
  margin: 0;
  color: #ffffff;
}

.wrap {
  width: 1010px;
  margin: 6px 0 0 64px;
}

h1, h2 {
  font-family: Ramab;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 2px;
}

h1 a {
  color: #ffffff;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
}

h2 {
  font-size: 12px;
  line-height: 12px;
}

h2 a {
  color: #ffffff;
  text-decoration-line: none;
}

h3 {
  font-family: Tex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 15px;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0 250px 0;
}

main a {
  color: white;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.img-container-hover:hover + .title-name-link {
  text-decoration: underline;
}

.project-container {
  width: 245px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.project-container span {
  font-family: Tex;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-container img {
  width: 100%;
  height: auto;
}

footer img {
  width: 180px;
  height: auto;
  margin-bottom: 25px;
}

footer span {
  font-family: Tex;
  font-size: 12px;
  line-height: 14px;
}

footer span a {
  color: white;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* Project Pages */
main p {
  margin: 12px 0 80px 0;
}


.back-link {
  font-family: Tex;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.project-description {
  font-family: Tex;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.project-page-img {
  width: 600px;
  height: auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.project-img-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.project-img-checkbox:checked + .project-page-img {
  width: 100%;
}

.horizontal-logos {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

main video {
  width: 100%;
  max-width: 1920px;
  height: auto;
}

/* ------------------------------------------------------------ */

/* Extra small devices */
@media only screen and (max-width: 600px) {
  .wrap {
    width: 350px;
    margin: 0 auto;
    padding-top: 6px;
  }

  .project-container {
    width: 100%;
  }

  .project-page-img {
    width: 100%;
  }

  .project-description {
    font-size: 16px;
    line-height: 20px;
  }

  .back-link {
    font-size: 22px;
    line-height: 26px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    font-size: 16px;
    line-height: 16px;
  }

  h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .project-container span {
    font-size: 16px;
    line-height: 16px;
  }

  footer img {
    margin: 0 auto;
    display: block;
  }

  footer span {
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
    text-align: center;
    display: block;
  }
}

/* Small devices  */
@media only screen and (min-width: 600px) {
  .wrap {
    width: 460px;
    margin: 0 auto;
    padding-top: 6px;
  }

  .project-container {
    width: 225px;
  }

  .project-page-img {
    width: 100%;
  }

  .project-description {
    font-size: 16px;
    line-height: 20px;
  }

  .back-link {
    font-size: 22px;
    line-height: 26px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    font-size: 16px;
    line-height: 16px;
  }

  h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .project-container span {
    font-size: 16px;
    line-height: 16px;
  }

  footer img {
    margin: 0 auto;
    display: block;
  }

  footer span {
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
    text-align: center;
    display: block;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .wrap {
    width: 600px;
    margin: 0 auto;
    padding-top: 6px;
  }

  .project-container {
    width: 290px;
  }

  .project-page-img {
    width: 100%;
  }

  .project-description {
    font-size: 16px;
    line-height: 20px;
  }

  .back-link {
    font-size: 22px;
    line-height: 26px;
  }

  h1 {
    font-size: 22px;
    line-height: 24px;
  }

  h2 {
    font-size: 16px;
    line-height: 16px;
  }

  h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .project-container span {
    font-size: 16px;
    line-height: 16px;
  }

  footer img {
    margin: 0 auto;
    display: block;
  }

  footer span {
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
    text-align: center;
    display: block;
  }
}

/* Large devices */
@media only screen and (min-width: 1010px) {
  .wrap {
    width: 600px;
    margin: 6px 0 0 36px;
    padding: 0;
  }

  .project-container {
    width: 290px;
  }

  .project-page-img {
    width: 100%;
  }

  .project-description {
    font-size: 16px;
    line-height: 20px;
  }

  .back-link {
    font-size: 18px;
    line-height: 24px;
  }

  h1 {
    font-size: 18px;
    line-height: 16px;
  }

  h2 {
    font-size: 16px;
    line-height: 16px;
  }

  h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .project-container span {
    font-size: 16px;
    line-height: 16px;
  }

  footer img {
    margin: 0 0 25px 0;
  }

  footer span {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    text-align: left;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  .wrap {
    width: 1010px;
    margin: 6px 0 0 64px;
    padding: 0;
  }

  .project-container {
    width: 245px;
  }

  .project-page-img {
    width: 600px;
  }

  .project-description {
    font-size: 12px;
    line-height: 16px;
  }

  .back-link {
    font-size: 12px;
    line-height: 16px;
  }

  h1 {
    font-size: 16px;
    line-height: 16px;
  }

  h2 {
    font-size: 12px;
    line-height: 12px;
  }

  h3 {
    font-size: 12px;
    line-height: 14px;
  }

  .project-container span {
    font-size: 12px;
    line-height: 12px;
  }

  footer img {
    margin: 0 0 25px 0;
  }

  footer span {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-align: left;
  }
}